/*   GOOGLE FONTS  */
  @import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


/* BROWSER RESET TO REMOVE DEFAULT STYLES SET BY DIFFERENT BROWSERS
FROM:http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
}
/*--------------------------------------------------------------------END OF RESET-------------------------------------------------------------*/

body, .container, .cntrs{
    width: 100%;
    height: 100vh;
    text-align: center;
}

body, .home-menu-cntr {
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cntrs {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
}

.headings {
    margin-top: 10vh;
    font: 3rem/7vh 'Finger Paint', cursive;
    color: #FFF;
    text-shadow: 2px 2px 12px #fff, 
                -2px -2px 12px #fff;
}

/*  HOME MENU */

.heading-home-menu {
    margin-bottom: 8vh;
} 

.menu-btns {
    display: inline-block;
    width: 50%;
    height: 6vh;
    color: #fff;
    background: #000;
    box-shadow: 2px 2px #fff, 
    -2px -2px #fff;
    outline: none;
    border: none;
    font: 300 1rem/6vh Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 1.5vh;
    text-shadow: 2px 2px 12px #fff, 
                -2px -2px 12px #fff;
    text-decoration: none;
}

.play {
    margin-top: 5vh;
}

.menu-btns:hover {
    background: #ff00ff;
    box-shadow: -3px -3px #71c1f0;
}

.menu-btns:active {
    background: #000;
    box-shadow: 2px 2px 12px #fff, 
    -2px -2px 12px #fff;
    transform: translateY(2px);
    line-height: 6vh;
}

/*  RULES   */
.rules-cntr {
    background: #000;
}

.heading-rules {
    color: #fff;
    font-size: 5rem;
    text-shadow: 2px 2px 12px #FFF, 
                -2px -2px 12px #FFF;
}
.rules-img {
    width: 60%;
    height: 60%;
    margin-top: 10vh;
}

.fa-solid {
    position: absolute;
    top: 50%;
    left: 5%;
    color: #fff;
    font-size: 4rem;
}

.fa-solid:hover {
    text-shadow: 2px 2px 5px #fff, 
                -2px -2px 5px #fff;
}

.fa-solid:active {
    color: #ff00ff;
}

/*HOW MANY ROUNDS DO YOU WANT TO PLAY?  */
.rounds-cntr {
    display: block;
    background: -webkit-conic-gradient(#b3b3b3, #ff00ff,#00ffff);
    background: -ms-conic-gradient(#b3b3b3, #ff00ff,#00ffff);
    background: -moz-conic-gradient(#b3b3b3, #ff00ff,#00ffff);
    background: conic-gradient(#b3b3b3, #ff00ff,#00ffff);
    background-repeat: no-repeat;
   transition: 0.5s all ease; 
}
.heading-rounds, .three-rounds {
    margin-top: 15vh;
}

.objects {
    margin-top: 7vh;
    opacity: 0;
}

.rock-img {
    animation: rock 2s ease-in-out infinite;
}

.paper-img {
    animation: paper 2s ease-in-out infinite;
}

.scissors-img {
    animation: scissors 2s ease-in-out infinite;
    margin-left: 2%;
}


@keyframes rock{
    0% {
        opacity: 1;
    }    
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    55% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes paper{
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0.3;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes scissors{
    0% {
        opacity: 0.3;
    }   
    5% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/*   START  ACTUAL GAME   */
.game {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: fit-content;
    margin-top: 10vh;
}

.scores-cntr, .players-cntr, .game-buttons-cntr {
    box-sizing: border-box;
    width: 100%;
}

.scores-cntr {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0 5% 5vh 5%;
}

.scores {
    width: fit-content;
    height: 4vh;
    color: #ff00ff;
    text-transform: uppercase;
    font: 900 0.8rem/4vh Arial, Helvetica, sans-serif;
    text-shadow: -2px -1px #71c1f0;
    margin: 0;
    padding: 0;
}

.players-cntr {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin-bottom: 7vh;
}

.players {
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    height: 100px;
    margin: auto;
}

.vs {
    display: block;
    width: 20%;
    padding: 1.5vh 0;
    margin: auto;
    font: 2.5rem/5vh 'Rubik Wet Paint', cursive;
    color: #FCBB6D;
    text-shadow: -2px -2px #CC2A49;
}

.game-buttons-cntr {
    position: relative;
    padding: 1vh 0;
}

.game-buttons {
    display: inline-block;
    width: 30%;
    height: 5vh;
    color: #fff;
    background: #ff00ff;
    font-family: 1rem/5vh Arial, Helvetica, sans-serif;
    box-shadow: -3px -3px #71c1f0;
    text-shadow: 0 0 1px #000;
    font-weight: 700;
}

.start {
    margin-bottom: 1.5vh;
}

.proceed {
    position: absolute;
    visibility: hidden;
    margin-left: -30%;
}

.end {
    text-decoration: none;
}

.game-buttons:hover {
    color: #fff;
    background: #000;
    box-shadow: 2px 2px 12px #fff, 
    -2px -2px 12px #fff;
}

.game-buttons:active { 
    color: #fff;
    background: #000;
    box-shadow: 2px 2px #fff, 
    -2px -2px #fff;
}

/*  YOU VS COMPUTER OPTIONS   */
.option-cntr {
    box-sizing: border-box;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(#b3b3b39a, #4102418e,#00ffff67);
    background: -ms-linear-gradient(#b3b3b39a, #4102418e,#00ffff67);
    background: -moz-linear-gradient(#b3b3b39a, #4102418e,#00ffff67);
    background: linear-gradient(#b3b3b39a, #4102418e,#00ffff67);
    transition: 1s all ease-in-out;
    opacity: 1;
    animation: fadeIn .5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}

.options {
    margin-top: 55vh;
}

.moves-el, .choose-el {
    font: 600 1rem Arial, Helvetica, sans-serif;
    color: #FFF;
    text-shadow: 2px 2px 12px #fff, 
                -2px -2px 12px #fff;
} 

.moves-el   {
    margin-bottom: 3vh;
}

.choose-el {
    margin-top: 5vh;
    font-size: 1.5rem;
}

/*  RESULT  */
.result-cntr {
    display: none;
    justify-content: center;
    align-items: center;
    background:  #FCBB6D;
}

.result {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 85px;
    font: 2.5rem/85px 'Finger Paint', cursive;
}

.tie {
    height: 45px;
}

/*   MEDIA QUERIES   */
@media screen and (min-width:425px) {
    .rules-cntr {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M123.16%2c276.517C175.815%2c274.575%2c222.38%2c241.103%2c245.102%2c193.563C265.207%2c151.497%2c247.941%2c104.954%2c224.39%2c64.715C201.161%2c25.027%2c169.089%2c-12.495%2c123.16%2c-14.785C73.75%2c-17.249%2c29.334%2c11.918%2c2.79%2c53.665C-26.081%2c99.072%2c-40.996%2c155.828%2c-15.424%2c203.171C11.198%2c252.459%2c67.18%2c278.581%2c123.16%2c276.517' fill='rgba(255%2c 255%2c 255%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M113.594%2c254.106C159.564%2c254.342%2c187.897%2c209.575%2c210.662%2c169.636C233.12%2c130.236%2c254.797%2c84.424%2c232.971%2c44.671C210.594%2c3.914%2c160.06%2c-8.824%2c113.594%2c-7.161C70.301%2c-5.612%2c28.804%2c14.636%2c8.15%2c52.716C-11.672%2c89.262%2c-1.045%2c131.815%2c18.239%2c168.647C39.458%2c209.174%2c67.849%2c253.871%2c113.594%2c254.106' fill='rgba(255%2c 255%2c 255%2c 0.28)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M76.2%2c158.796C111.919%2c161.351%2c154.228%2c162.59%2c172.773%2c131.956C191.655%2c100.765%2c171.391%2c63.342%2c153.066%2c31.821C134.876%2c0.532%2c112.376%2c-33.077%2c76.2%2c-34.163C38.728%2c-35.288%2c7.383%2c-6.719%2c-9.096%2c26.954C-23.741%2c56.878%2c-17.179%2c91.692%2c0.917%2c119.664C17.382%2c145.114%2c45.965%2c156.633%2c76.2%2c158.796' fill='rgba(255%2c 255%2c 255%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1344.84%2c64.877C1362.709%2c65.077%2c1380.687%2c58.171%2c1389.689%2c42.734C1398.749%2c27.197%2c1397.144%2c7.358%2c1387.069%2c-7.541C1378.028%2c-20.911%2c1360.977%2c-23.268%2c1344.84%2c-23.593C1327.88%2c-23.934%2c1308.91%2c-23.457%2c1299.563%2c-9.301C1289.505%2c5.932%2c1292.186%2c26.169%2c1301.696%2c41.75C1310.808%2c56.678%2c1327.352%2c64.681%2c1344.84%2c64.877' fill='rgba(255%2c 255%2c 255%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1359.358%2c88.229C1381.964%2c90.182%2c1407.283%2c85.227%2c1418.708%2c65.623C1430.186%2c45.929%2c1421.561%2c21.74%2c1409.312%2c2.516C1398.121%2c-15.048%2c1380.178%2c-27.041%2c1359.358%2c-27.527C1337.643%2c-28.034%2c1315.232%2c-19.177%2c1305.193%2c0.085C1295.692%2c18.315%2c1304.694%2c39.189%2c1315.457%2c56.703C1325.566%2c73.154%2c1340.121%2c86.567%2c1359.358%2c88.229' fill='rgba(255%2c 255%2c 255%2c 0.28)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1383.045%2c126.654C1407.863%2c126.283%2c1427.725%2c109.468%2c1441.174%2c88.606C1456.188%2c65.316%2c1468.288%2c37.705%2c1456.58%2c12.59C1443.268%2c-15.967%2c1414.479%2c-38.241%2c1383.045%2c-36.091C1353.902%2c-34.097%2c1337.817%2c-4.709%2c1325.09%2c21.584C1314.368%2c43.735%2c1309.935%2c68.843%2c1321.821%2c90.392C1334.099%2c112.652%2c1357.626%2c127.034%2c1383.045%2c126.654' fill='rgba(255%2c 255%2c 255%2c 0.28)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M74.569%2c608.034C108.811%2c610.382%2c145.655%2c603.167%2c164.615%2c574.557C185.331%2c543.297%2c184.576%2c502.354%2c166.307%2c469.604C147.558%2c435.993%2c112.934%2c410.07%2c74.569%2c413.132C39.618%2c415.922%2c20.072%2c450.758%2c5.116%2c482.47C-7.238%2c508.664%2c-10.376%2c538.176%2c3.642%2c563.519C18.122%2c589.698%2c44.722%2c605.987%2c74.569%2c608.034' fill='rgba(255%2c 255%2c 255%2c 0.28)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M26.186%2c537.515C47.672%2c538.063%2c65.64%2c521.718%2c75.018%2c502.379C83.308%2c485.284%2c77.959%2c466.227%2c68.835%2c449.562C59.218%2c431.997%2c46.209%2c412.94%2c26.186%2c413.192C6.401%2c413.441%2c-5.585%2c433.022%2c-14.644%2c450.613C-22.747%2c466.346%2c-26.043%2c483.978%2c-18.518%2c499.995C-9.651%2c518.867%2c5.342%2c536.984%2c26.186%2c537.515' fill='rgba(255%2c 255%2c 255%2c 0.28)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M12.542%2c503.293C27.892%2c503.04%2c41.82%2c495.162%2c49.943%2c482.135C58.608%2c468.238%2c62.895%2c450.368%2c54.194%2c436.494C45.853%2c423.194%2c28.241%2c422.481%2c12.542%2c422.496C-3.119%2c422.511%2c-20.436%2c423.443%2c-28.972%2c436.573C-38.098%2c450.611%2c-35.9%2c469.185%2c-27.054%2c483.402C-18.691%2c496.843%2c-3.287%2c503.553%2c12.542%2c503.293' fill='rgba(255%2c 255%2c 255%2c 0.28)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1386.926%2c580.936C1417.525%2c582.224%2c1453.517%2c580.728%2c1468.27%2c553.89C1482.766%2c527.52%2c1462.1%2c498.264%2c1446.524%2c472.517C1431.764%2c448.119%2c1415.399%2c420.965%2c1386.926%2c419.427C1356.478%2c417.782%2c1329.695%2c438.683%2c1315.025%2c465.414C1300.913%2c491.13%2c1301.139%2c522.602%2c1316.639%2c547.506C1331.332%2c571.114%2c1359.144%2c579.766%2c1386.926%2c580.936' fill='rgba(255%2c 255%2c 255%2c 0.28)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1404.833%2c614.236C1437.595%2c612.633%2c1469.462%2c600.018%2c1486.274%2c571.853C1503.493%2c543.006%2c1504.142%2c506.261%2c1486.264%2c477.818C1469.372%2c450.944%2c1436.536%2c443.854%2c1404.833%2c442.286C1369.038%2c440.516%2c1328.656%2c439.621%2c1308.142%2c469.008C1285.33%2c501.687%2c1286.22%2c547.387%2c1308.307%2c580.561C1328.548%2c610.962%2c1368.354%2c616.021%2c1404.833%2c614.236' fill='rgba(255%2c 255%2c 255%2c 0.28)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1366.202%2c550.634C1388.176%2c549.581%2c1405.309%2c534.178%2c1416.65%2c515.328C1428.446%2c495.721%2c1436.68%2c471.929%2c1425.599%2c451.909C1414.258%2c431.419%2c1389.604%2c423.295%2c1366.202%2c424.182C1344.39%2c425.009%2c1325.601%2c437.567%2c1314.127%2c456.136C1301.939%2c475.86%2c1295.435%2c500.292%2c1306.626%2c520.599C1318.131%2c541.476%2c1342.392%2c551.775%2c1366.202%2c550.634' fill='rgba(255%2c 255%2c 255%2c 0.28)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 16.8%;
    }
    .players-cntr {
        justify-content: space-around;
    }
    .scores {
        font-size: 1rem;
    }
}
@media screen and (min-width:768px) {
    .home-menus  {
        width: 30%;
        height: 6vh;    
    }

    .rules-img {
        width: initial;
    }
    .scores{
        font-size: 1.1rem;
    }
    .players-cntr {
        justify-content: space-around;
    }

    .game {
        width: 70%;
    }

    .result {
        font-size: 6rem;
    }

    .tie {
        height: 80px;
    }

}
@media screen and (min-width:1024px) {

    .rps, .play {
        margin-top: 10vh;
    }

    .home-btns{
        width: 20%;
    }

    .rounds-btns {
        width: 25%;
    }

    .three-rounds {
        margin-top: 30vh;
    }

    .game {
        width: 40%;
    }   
}
